<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sergi.fastcocktail">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialegOpcions"
            android:label="@string/title_activity_dialeg_opcions"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".DialegPredeterminats"
            android:label="@string/title_activity_dialeg_predeterminats"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".ComandesActivity"
            android:label="@string/title_activity_comandes"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
